# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_KAWVIN_46_LEFT

config ZMK_KEYBOARD_NAME
    default "Kawvin_46"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_KAWVIN_46_LEFT

if SHIELD_KAWVIN_46_LEFT || SHIELD_KAWVIN_46_RIGHT

config ZMK_SPLIT
    default y

config ZMK_RGB_UNDERGLOW
    select WS2812_STRIP
    select SPI

endif # SHIELD_KAWVIN_46_LEFT || SHIELD_KAWVIN_46_RIGHT
